@use "../variables" as *;
@use "../mixins" as *;

.letter-section {
    width: 100%;
    max-width: 500px;

    .content {
        width: 100%;
        aspect-ratio: 500 / 891;
        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/linh-thien/letter.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: #564e47ff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.439);
        position: relative;
        cursor: pointer;
        perspective: 1000px;
        padding-bottom: 15%;
        padding-top: 65%;

        .invite-text {
            font-size: 12px;
            font-family: $font-gotham;
            text-transform: uppercase;
            margin-bottom: 5%;
            text-align: center;

        }

        .guest-name {
            font-family: $font-PinyonScript;
            font-size: 32px;
            margin-bottom: 5%;
            margin-top: 5%;
            text-align: center;
        }
        
        .subtext {
            font-family: $font-HLTJaneAusten;
            font-size: 21px;
            text-align: center;
        }
    }

    @media (max-width: 500px) {
        .content {
            .subtext  {
                font-size: calc((21 / 500) * 100vw);
            }

            .invite-text {
                font-size: calc((12 / 500) * 100vw);
            }
            .guest-name {
                font-size: calc((32 / 500) * 100vw);
            }
        }
    }
}
